.newsArticle {
    list-style-type: none;
    /* border: 1px solid purple; */
    height: 34vh;
    margin: 3% 0%;
    padding: 1.3%;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.image {
    /* border: 1px solid green; */
    height: 100%;
    width: 36%;
}

.info {
    /* border: 1px solid red; */
    height: 100%;
    width: 60%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans Condensed', sans-serif;
}

.info h3{
    margin: 2% 0px;
    font-size: 1.3em;
    letter-spacing: 1px;
    font-weight: 600;
}

.info p{
    margin: 2% 0px;
    font-size: 0.9em;

}

.info section{
    font-size: 0.9em;
    font-size: 1.15em;
    letter-spacing: 0.7px;
}

.info a {
    font-size: 0.8em;
    margin-top: 5%;
    margin-bottom: 0.5%;
    margin-top: auto;
}

.image img {
    object-fit:cover;
    /* border: 3px solid blue; */
    width: 100%;
    height: 100%;
    border-radius: 4px;
}